@model ESD6NL.DriverSystem.Models.UserViewModel

@{
    ViewData["Title"] = "CarOverview";
}

<h2>CarOverview</h2>

<table class="table  table table-striped table-bordered table-responsive table-condensed">
    <thead>
        <tr>
            <th>Nummerplaat</th>
            <th>Merk</th>
            <th>Soort</th>
        </tr>
    </thead>

    <tbody>
        @{
            foreach (var car in Model.cars)
            {
                <text>

                    <tr>
                        <td><a asp-action="Details" asp-controller="Car" asp-route-id="@car.CarID">@car.licensePlate</a></td>
                        <td>@car.rdwData.merk</td>
                        <td>@car.rdwData.voertuigsoort</td>
                    </tr>

                </text>

            }
        }

    </tbody>
</table>
