
@{
    ViewData["Title"] = "Home";
}


<body>

    <div class="container">
        <!-- ROW -->
        <div class="row">

            <!-- Invoices -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <a href="#" target="_blank">
                    <div class="card" id="YouTrackCard">
                        <div class="card-body">
                            <h4 class="card-title">Facturen Overzicht</h4>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Payment -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <a href="#" target="_blank">
                    <div class="card" id="JenkinsCard">
                        <div class="card-body">
                            <h4 class="card-title">Betalen van laatste Factuur</h4>
                        </div>
                    </div>
                </a>
            </div>

            <!-- MijnRR -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <a href="#" target="_blank">
                    <div class="card" id="ArtifactoryCard">
                        <div class="card-body">
                            <h4 class="card-title">MijnRR</h4>
                        </div>
                    </div>
                </a>
            </div>

        </div>	<!-- ROW END -->
    </div>
</body>
