@model ESD6NL.DriverSystem.Models.InvoiceViewModel

@{
    ViewData["Title"] = "InvoiceDetail";
}

<h2>Factuur [factuurnummerInserten]</h2>

<table class="table  table table-striped table-bordered table-responsive table-condensed">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Dag van de week</th>
            <th>Gereden kilometers</th>
            <th>Bedrag</th>
        </tr>
    </thead>

    <tbody>
        @*@{
                foreach (var row in Model.rows)
                {
                    <text>

            <tr>
                <td>@row.date</td>
                <td>@row.dayOfWeek</td>
                <td>@row.km</td>
                <td>@row.costs</td>
            </tr>

                    </text>

                }
            }*@

    </tbody>
</table>